In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('hepatitis.csv', sep=',', na_values={"?"})
include =['object','float', 'int']
df.describe(include=include)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
count,155.000000,155,154,155,154,154,154,145,144,150,150,150,150,149.000000,126.000000,151.00000,139.000000,88.000000,155,155
unique,NaN,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,2,2
top,NaN,female,yes,no,yes,no,no,yes,no,no,no,no,no,NaN,NaN,NaN,NaN,NaN,no,LIVE
freq,NaN,139,78,131,100,93,122,120,84,120,99,130,132,NaN,NaN,NaN,NaN,NaN,85,123
mean,41.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.427517,105.325397,85.89404,3.817266,61.852273,NaN,NaN
std,12.565878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.212149,51.508109,89.65089,0.651523,22.875244,NaN,NaN
min,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.300000,26.000000,14.00000,2.100000,0.000000,NaN,NaN
25%,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.700000,74.250000,31.50000,3.400000,46.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,85.000000,58.00000,4.000000,61.000000,NaN,NaN
75%,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,132.250000,100.50000,4.200000,76.250000,NaN,NaN
max,78.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,295.000000,648.00000,6.400000,100.000000,NaN,NaN